{{!-- <div {{bind-attr id=chartId}} style="width:100%; height:400px;"></div>
 --}}
{{!--  <div id={{unbound chartId}} style="width:100%; height:400px;"></div>
 --}}
<div id="summaryMonth" class="trend-diagram"></div>