<h1 class="text-center">{{model.year}} Trend</h1>
{{!-- {{#link-to 'year' model.year}}<button class="btn btn-primary">List</button>{{/link-to}}
 --}}<div id="yearTrend" class="trend-diagram"></div>
<div id="categoryTrend" class="trend-diagram"></div>