<form role="form" id="uploadForm">
  <div class="form-group">
    <label for="exampleInputFile">File Input</label>
    <input type="file" name="file">
    <p class="help-block">Select your csv file. Your csv file <strong>must</strong> be monny format.</p>
  </div>
  {{!-- <input type="file" name="file"></input> --}}
  <button id="uploadForm-btn" class="btn btn-primary" type="submit" disabled>Upload</button>
  <div class="form-group">
    <label>{{view.showMessage}}</label>
  </div>
</form>